* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(121, 193, 221);
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#gameBoardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 35px;
  height: 35px;
  outline: 1px solid black;
  background-color: rgb(162, 212, 231);
  font-size: 5em;
  user-select: none;
}

.ship {
  background-color: rgb(148, 148, 148);
}

.miss {
  color: rgb(255, 255, 255);
  background-color: rgb(162, 212, 231);
}

.hit {
  color: rgb(255, 0, 0);
  background-color: rgb(148, 148, 148);
}
